.div-1 {
    background: #f8f8f8;
}
.li {
    color: #61a52a;
    font-family: fantasy;
    font-style: italic;
}
h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
h3 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.div-2 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.div-2 ul {
    color: black;
    font-size: 18px;
    font-family: "Times New Roman";
}
input[type=email] {
    width: 300px;
    height: 20px;
}
input[placeholder="ФИО"] {
    width: 600px;
    height: 20px;
}
input[type="text"] {
    width: 615px;
    height: 200px;
}